{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block body %}

<div class="conference-wrapper">
    <h1>Hello {{ controller_name }}!</h1>
</div>
{% endblock %}
